.quantity-selector{
   display:inline;
   align-items:center;
  max-height: 60px;
  padding: 5px;
  margin: 1em;
}
.quantity-btn{
 margin: 20px;
}
.count-container{
  display: grid;
flex-direction:column;


}
