/* Footer.css */
.footer {
  background-color: #333;
  color: white;
  padding: 0.2rem 0 0 0;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.1rem;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
}

.footer-section h4 {
  color: #f8f9fa;
  margin-bottom: 0.5rem;
  font-size: 1rem;
   padding: 0.1rem 0.1rem 0.1rem 0.1rem ;
    margin:  0.1rem 0.1rem 0.1rem 0.1rem   ; 
}

.footer-section ul {
  list-style: none;
   padding: 0.1rem 0.1rem 0.1rem 0.1rem ;
    margin:  0.1rem 0.1rem 0.1rem 0.1rem
}

.footer-section ul li {
   padding: 0.1rem 0.1rem 0.1rem 0.1rem ;
    margin:  0.1rem 0.1rem 0.1rem 0.1rem
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #fff;
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.social-links a {
  font-size: 1rem;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 0.3rem;
  text-align: center;
  margin-top: 0.1rem;
}

.footer-bottom p {
  margin: 0;
  color: #ccc;
  font-size: 0.9rem;
}
 

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-section {
    margin: 1rem 0;
  }
  
  .social-links {
    justify-content: center;
  }
}